/*=================================================================================*/
/*=================================================================================*/
/*==========================||---------------------------||========================*/
/*==========================|| DESIGNED BY  HOSSAM HILAL ||========================*/
/*==========================||---------------------------||========================*/
/*====================================||------||===================================*/
/*====================================|| 2020 ||===================================*/
/*====================================||------||===================================*/
/*=================================================================================*/
/*=================================================================================*/

:root {
    --mainColor: #3DBCF5;
    --secondaryColor: #FBB911;
    --black: #333333;
    --white: #fff;
    --textLight: #BFBFBF;
    --text: #929292;
    --textDark: #585858;
    --grey: #DDDDDD;
    --greyLight: #F6F6F6;
    --greyMedium: #F9F9F9;
    --greyDark: #707070;
    --greyBg: #FCFCFC;
    --green: #1BD741;
    --red: #DD4B39;
    --blueDark: #04648A;
    --blueLight: rgba(61, 188, 245, .08);
    --blueMedium: rgba(61, 188, 245, .79);
    --orangeOpacity: rgba(255, 179, 0, 0.14);
    --whiteOpacity: rgba(255, 255, 255, 0.14);
}

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

/**** Init ****/
body {
    font-family: 'Poppins', Roboto, sans-serif;
    overflow-x: hidden;
    direction: ltr;
    text-align: left;
}

.stopScroll {
    overflow: hidden;
}

.secPadding {
    padding: 60px 0;
}

p {
    color: var(--text);
    margin: 0;
}

a {
    text-decoration: none !important;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

button:focus,
button:active,
input:active,
input:focus,
select:active,
select:focus,
textarea:focus,
textarea:active {
    box-shadow: none;
    outline: 0;
}

/*==========================||---------------------------||========================*/
/*==========================||         MAIN BUTTONS      ||========================*/
/*==========================||---------------------------||========================*/

.Btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
    transition: all .2s ease-in-out;
    font-size: 12px;
}

.blueBtn {
    background: var(--mainColor);
    color: var(--white);
    min-width: 130px;
    height: 40px;
}

.blueBtn:hover {
    background: var(--secondaryColor);
    color: var(--white);
}

.gradientBtn2 {
    border-radius: 30px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white);
    background: var(--gradient4);
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.gradientBtn2 span {
    font: Bold 18px/30px Roboto;
}

.gradientBtn2:hover {
    background: var(--gradient7);
}

button:active,
button:hover,
button:focus {
    box-shadow: none;
    outline: 0;
    border: 0;
}

/*==========================||---------------------------||========================*/
/*==========================||         Container         ||========================*/
/*==========================||---------------------------||========================*/

@media (min-width: 1300px) {
    .container {
        max-width: 1200px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1300px;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||           HEADER          ||========================*/
/*==========================||---------------------------||========================*/

.header {
    position: relative;
}

.headerTop {
    background: var(--black);
}

.headerTop .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.language {
    position: relative;
    cursor: pointer;
}

.languageSelected {
    display: flex;
    align-items: center;
    color: var(--white);
    height: 40px;
    font-size: 12px;
}

.languageSelected span {
    color: var(--white);
    padding: 0 10px;
}

.languageSelected i {
    transition: all .4s ease-in-out;
}

.language:hover .languageSelected i {
    transform: rotate(180deg);
}

.languageList {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: var(--black);
    text-align: center;
    width: 100%;
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease-in-out;
}

.languageList a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    color: var(--white);
    font-size: 12px;
}

.languageList a:hover {
    background: var(--mainColor);
    color: var(--white);
}

.language:hover .languageList {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.headerLinks {
    display: flex;
    align-items: center;
    color: var(--white);
}

.headerLinks a {
    display: inline-flex;
    align-items: center;
    height: 40px;
    color: var(--white);
    font-size: 12px;
    padding: 0 10px;
    transition: all .4s ease-in-out;
}

.headerLinks img {
    margin-inline-end: 7px;
}

.headerLinks a:hover {
    background: var(--mainColor);
    color: var(--white);
}

.headerLinks .seprate {
    opacity: .5;
}

.headerNav {
    background: var(--white);
}

.headerNav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-inline-end: 20px;
}

.mobile {
    display: none;
}

.navMenu {
    display: flex;
}

.navMenu a {
    font-size: 15px;
    color: var(--textDark);
    font-weight: 600;
    margin: 0 15px;
    transition: all .3s ease-in-out;
    position: relative;
}

.navMenu .active,
.navMenu .active a,
.navMenu a:hover {
    color: var(--mainColor);
}

.navMenu a::before {
    content: '';
    position: absolute;
    top: calc(50% - 3px);
    height: 6px;
    width: 6px;
    left: -12px;
    opacity: 0;
    background: var(--mainColor);
    border-radius: 100%;
    will-change: transform;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-animation: dotDrop .3s forwards ease;
    animation: dotDrop .3s forwards ease;
}

.navMenu a:hover::before {
    -webkit-animation: dotBounce .3s forwards linear;
    animation: dotBounce .3s forwards linear;
}

.search,
.search form {
    display: flex;
    align-items: center;
    background: var(--greyMedium);

}

.search {
    padding: 0 10px;
    min-width: 250px;
}

.search form {
    width: 100%;
}

.search input {
    border: 0;
    font-size: 12px;
    height: 40px;
    margin-inline-end: 10px;
    background: transparent;
    width: calc(100% - 25px);
}

.search input::placeholder {
    color: #CBCBCB;
}

.search button {
    background: transparent;
    border: 0;
    transform: rotate(90deg);
    cursor: pointer;
    color: var(--text);
}

.search button:hover {
    color: var(--mainColor);
}

.headerSlider .item {
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerSlider .itemBox {
    max-width: 600px;
    text-align: center;
    color: var(--white);
}

.headerSlider h2 {
    font: bold 64px/84px Roboto;
    margin-bottom: 20px;
    transform: translateY(-40px);
    transition: all .4s ease-in-out;
}

.headerSlider p {
    color: inherit;
    font: normal 17px/30px Roboto;
    margin-bottom: 20px;
    transform: translateY(40px);
    transition: all .4s ease-in-out;
}

.headerSlider .blueBtn {
    transform: translateY(40px);
    transition: all .4s ease-in-out;
}

.headerSlider .center .item * {
    transition-delay: .3s;
    transform: translateY(0);
}

.headerSlider .owl-nav>* {
    height: 50px;
    width: 50px;
    background: var(--whiteOpacity);
    border-radius: 30px;
    position: absolute;
    top: calc(50% - 25px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-size: 25px;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.headerSlider .owl-prev {
    right: 10%;
}

.headerSlider .owl-next {
    left: 10%;
}

.headerSlider .owl-nav>*:hover {
    background: var(--mainColor);
    transform: translateY(-8px);
}

.headerSlider .owl-dots {
    position: absolute;
    height: 100px;
    top: calc(50% - 50px);
    right: 6%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.headerSlider .owl-dot {
    width: 12px;
    height: 12px;
    background: var(--white);
    border-radius: 5px;
    margin: 5px 0;
    transition: all .4s ease-in-out;
}

.headerSlider .owl-dot.active {
    background: var(--mainColor);
    height: 39px;
}

.headerSlider .owl-dot:hover {
    background: var(--mainColor);
}

.pageHeader {
    background: url('../images/Header.png') no-repeat;
    background-size: cover;
    padding: 40px 15px;
    text-align: center;
    color: var(--white)
}

.pageHeader h1 {
    font-size: 35px;
    letter-spacing: 0.53px;
    font-weight: 700;
    margin-bottom: 20px;
}

.breadcrumb {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: transparent;
    color: var(--white);
}

.breadcrumb a,
.breadcrumb-item+.breadcrumb-item::before {
    color: var(--white);
}

.breadcrumb-item.active {
    color: var(--mainColor);
}

.contactList {
    margin: 0 0 50px 0;
}

@keyframes dotDrop {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0) scaleX(1) scaleY(1);
        transform: translateY(0) scaleX(1) scaleY(1)
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(5px) scaleX(1) scaleY(1);
        transform: translateY(5px) scaleX(1) scaleY(1)
    }
}

@-webkit-keyframes dotBounce {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-12px) scaleX(.8) scaleY(2);
        transform: translateY(-12px) scaleX(.8) scaleY(2)
    }

    1% {
        opacity: 1
    }

    25% {
        opacity: 1;
        -webkit-transform: translateY(-6px) scaleX(1) scaleY(1);
        transform: translateY(-6px) scaleX(1) scaleY(1)
    }

    50% {
        opacity: 1;
        -webkit-transform: translateY(0) scaleX(2) scaleY(.8);
        transform: translateY(0) scaleX(2) scaleY(.8)
    }

    60% {
        opacity: 1;
        -webkit-transform: translateY(0) scaleX(1) scaleY(1);
        transform: translateY(0) scaleX(1) scaleY(1)
    }

    75% {
        opacity: 1;
        -webkit-transform: translateY(-3px) scaleX(1) scaleY(1);
        transform: translateY(-3px) scaleX(1) scaleY(1)
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0) scaleX(1) scaleY(1);
        transform: translateY(0) scaleX(1) scaleY(1)
    }
}

@keyframes dotBounce {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-12px) scaleX(.8) scaleY(2);
        transform: translateY(-12px) scaleX(.8) scaleY(2)
    }

    1% {
        opacity: 1
    }

    25% {
        opacity: 1;
        -webkit-transform: translateY(-6px) scaleX(1) scaleY(1);
        transform: translateY(-6px) scaleX(1) scaleY(1)
    }

    50% {
        opacity: 1;
        -webkit-transform: translateY(0) scaleX(2) scaleY(.8);
        transform: translateY(0) scaleX(2) scaleY(.8)
    }

    60% {
        opacity: 1;
        -webkit-transform: translateY(0) scaleX(1) scaleY(1);
        transform: translateY(0) scaleX(1) scaleY(1)
    }

    75% {
        opacity: 1;
        -webkit-transform: translateY(-3px) scaleX(1) scaleY(1);
        transform: translateY(-3px) scaleX(1) scaleY(1)
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0) scaleX(1) scaleY(1);
        transform: translateY(0) scaleX(1) scaleY(1)
    }
}

@media screen and (max-width:575px) {
    .headerLinks span {
        display: none;
    }

    .headerLinks a:last-of-type {
        padding-inline-end: 0;
    }

    .headerLinks a:last-of-type img {
        margin: 0;
    }

    .headerNav {
        padding-bottom: 15px;
    }

    .logo {
        max-width: 80px;
    }

    .search {
        width: 100%;
    }

    .headerNav .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .menuBtn {
        position: absolute;
        top: 30px;
        right: 15px;
    }

    .headerSlider .item {
        height: 270px;
    }

    .headerSlider h2 {
        font: bold 20px/30px Roboto;
        margin-bottom: 15px;
    }

    .headerSlider p {
        font: normal 13px/20px Roboto;
    }

    .headerSlider .itemBox {
        padding: 0 20px;
    }

    .headerSlider .owl-dots {
        right: 2%;
        height: 80px;
    }

    .headerSlider .owl-nav>* {
        bottom: 15px;
        top: auto;
        width: 30px;
        height: 30px;
        font-size: 18px;
    }

    .pageHeader {
        padding: 20px;
    }

    .pageHeader h1 {
        font-size: 22px;
        margin-bottom: 10px;
    }

    .breadcrumb-item {
        font-size: 13px;
    }
}

@media screen and (max-width:768px) {
    .headerNav {
        position: relative;
    }

    .mobile {
        display: block;
    }

    .menuBtn {
        width: 25px;
        height: 20px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        flex-direction: column;
    }

    .menuBtn span {
        width: 100%;
        height: 3px;
        background: var(--textDark);
        transition: all .4s ease-in-out;
    }

    .menuBtn span:nth-child(2) {
        width: 70%;
    }

    .menuBtn.open span,
    .menuBtn:hover span,
    .menuBtn.open span:nth-child(2),
    .menuBtn:hover span:nth-child(2) {
        width: 100%;
        background: var(--mainColor);
    }

    .navMenu {
        position: fixed;
        top: 0;
        right: 0;
        width: 220px;
        height: 100vh;
        z-index: 99;
        padding: 40px 0;
        transform: translateX(100%);
        transition: all .4s ease-in-out;
        flex-direction: column;
        background: var(--greyBg);
    }

    .navMenu a {
        display: block;
        margin: 0;
        padding: 15px;
        font-size: 13px;
    }

    .navMenu.show {
        transform: translateX(0);
    }

    .bodyOverlay {
        width: 0;
        height: 0;
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        background: rgba(0, 0, 0, .8);
        transition: all .4s ease-in-out;
    }

    .bodyOverlay.show {
        width: 100vw;
        height: 100vh;
        z-index: 98;
        display: block;
    }

    .navMenu.show a:first-of-type {
        animation: fadeInUp .3s linear both .5s;
        -webkit-animation: fadeInUp .3s linear both .5s;
    }

    .navMenu.show a:nth-of-type(2) {
        animation: fadeInUp .3s linear both .7s;
        -webkit-animation: fadeInUp .3s linear both .7s;
    }

    .navMenu.show a:nth-of-type(3) {
        animation: fadeInUp .3s linear both .9s;
        -webkit-animation: fadeInUp .3s linear both .9s;
    }

    .navMenu.show a:nth-of-type(4) {
        animation: fadeInUp .3s linear both 1.1s;
        -webkit-animation: fadeInUp .3s linear both 1.1s;
    }

    .navMenu.show a:nth-of-type(5) {
        animation: fadeInUp .3s linear both 1.3s;
        -webkit-animation: fadeInUp .3s linear both 1.3s;
    }

    .navMenu.show a:nth-of-type(6) {
        animation: fadeInUp .3s linear both 1.5s;
        -webkit-animation: fadeInUp .3s linear both 1.5s;
    }

    .headerSlider .owl-dot {
        width: 5px;
        height: 5px;
        margin: 2px 0;
    }

    .headerSlider .owl-dot.active {
        height: 20px;
    }
}

@media (min-width:575px) and (max-width:768px) {
    .search {
        min-width: 350px;
    }
}

@media (min-width:768px) and (max-width:992px) {
    .headerSlider .item {
        height: 320px;
    }

    .headerSlider .itemBox {
        max-width: 460px;
    }

    .headerSlider h2 {
        font: bold 35px/40px Roboto;
    }

    .headerSlider p {
        font: normal 14px/25px Roboto;
    }

    .headerSlider .owl-nav>* {
        width: 40px;
        height: 40px;
        font-size: 19px;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||            About          ||========================*/
/*==========================||---------------------------||========================*/

.about h4 {
    color: var(--mainColor);
    font-size: 15px;
    font-weight: 200;
    margin-bottom: 15px;
}

.about h4::after {
    content: '';
    width: 40px;
    height: 2px;
    background: var(--mainColor);
    display: inline-block;
    margin-inline-start: 10px;
    margin-bottom: 2px;
}

.about h3 {
    font-size: 36px;
    font-weight: 700;
    color: var(--mainColor);
}

.about h2 {
    font-size: 36px;
    font-weight: 700;
    color: var(--textDark);
    margin-bottom: 15px;
}

.about p {
    font-size: 14px;
    color: var(--textLight);
    line-height: 26px;
    margin-bottom: 10px;
}

.list {
    margin-bottom: 20px;
}

.list li {
    font-size: 14px;
    color: var(--textLight);
    line-height: 30px;
    display: flex;
    align-items: center;
}

.list li::before {
    content: url('../images/check.png');
    margin-inline-end: 3px;
}

.aboutVectors {
    position: relative;
    padding: 20px 20px 35px;
}

.aboutVectors::after {
    content: url('../images/dots.png');
    position: absolute;
    top: 0;
    right: 0;
}

.mainVector {
    position: relative;
    z-index: 1;
}

.sideVector {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    width: 50%;
    max-height: 250px;
    box-shadow: 0px 3px 6px #00000029;
}

@media screen and (max-width:575px) {}

@media screen and (max-width:768px) {
    .secPadding {
        padding: 30px 0;
    }

    .about h3,
    .about h2 {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .about p {
        font-size: 13px;
        line-height: 22px;
    }

    .list li {
        align-items: flex-start;
        line-height: 22px;
        font-size: 13px;
    }

    .aboutVectors {
        padding-inline-start: 0;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||           Services        ||========================*/
/*==========================||---------------------------||========================*/

.services {
    background: var(--blueLight);
    text-align: center;
}

.secHead {
    max-width: 550px;
    margin: 0 auto 40px;
    text-align: center;
}

.secHead h2 {
    font-size: 33px;
    font-weight: 800;
}

.secHead p {
    letter-spacing: 0.21px;
    font-size: 14px;
    line-height: 24px;
}

.services .owl-carousel .owl-stage {
    display: flex;
}

.services .item {
    display: flex;
    flex: 1 0 auto;
    height: 100%;
    padding: 100px 15px 40px;
}

.service {
    background: transparent linear-gradient(180deg, #A0B1BD 0%, #C7D1D8 0%, #FBFBFB 33%, #FFFFFF 98%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px -3px 6px #00000000;
    border: 0.5px solid #FFFFFF;
    border-radius: 0px 0px 42px 42px;
    min-height: 390px;
    position: relative;
    padding-bottom: 20px;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.service img {
    width: 100%;
    margin-top: -50%;
}

.service p {
    font-size: 15px;
    line-height: 30px;
    color: var(--greyDark);
    padding: 20px 15px;
}

.service span {
    position: absolute;
    bottom: -20px;
    right: calc(50% - 20px);
    width: 40px;
    height: 40px;
    background: var(--mainColor);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--white);
    font-size: 17px;
}

.service:hover {
    transform: translateY(-15px);
}

.service:hover span {
    background: var(--secondaryColor);
}

.services .owl-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0 0 0;
}

.services .owl-nav>* {
    width: 50px;
    height: 50px;
    background: var(--white);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    font-size: 30px;
}

.services .owl-nav>*:hover {
    background: var(--orangeOpacity);
    color: var(--secondaryColor);
}

.showSide {
    display: none;
}

@media screen and (max-width:768px) {
    .secHead {
        margin-bottom: 20px;
    }

    .secHead h2 {
        font-size: 20px;
    }

    .secHead p {
        font-size: 13px;
    }

    .services .item {
        padding: 65px 5px 20px;
    }

    .service {
        min-height: 250px;
    }

    .service p {
        font-size: 13px;
        line-height: 22px;
        padding: 10px;
    }

    .service span {
        width: 30px;
        height: 30px;
        font-size: 14px;
        right: calc(50% - 15px);
        bottom: -15px;
    }

    .services .owl-nav {
        padding: 20px 0 0 0;
    }

    .services .owl-nav>* {
        width: 35px;
        height: 35px;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||            Blogs          ||========================*/
/*==========================||---------------------------||========================*/

.blogsSlider {
    max-width: 1170px;
    margin: auto;
}

.blogsSlider .item {
    padding: 20px 0;
}

.blog {
    background: var(--white);
    box-shadow: 0px 3px 53px #ACACAC29;
    box-shadow: 0px 3px 10px #ACACAC29;
    transition: all .5s ease-in-out;
}

.blog:hover {
    transform: translateY(-15px);
}

.blogImg {
    position: relative;
    height: 245px;
}

.blogImg>img {
    height: 100%;
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: .5s;
    -webkit-animation-duration: .5s;
    animation-fill-mode: linear;
    -webkit-animation-fill-mode: linear;
}

.blogImg a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--blueMedium);
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease-in-out;
}

.blog:hover .blogImg a {
    opacity: 1;
    visibility: visible;
}

.blogImg a img {
    transform: translateY(-40px);
    transition: all .4s ease-in-out;
}

.blog:hover .blogImg a img {
    transition-delay: .4s;
    transform: translateY(0);
}

.blogBody {
    padding: 10px 15px 15px;
}

.blog ul {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.blog li {
    display: flex;
    align-items: center;
    letter-spacing: 0.18px;
    font-size: 12px;
    font-family: cursive;
    color: var(--text);
}

.blog li img {
    margin-inline-end: 10px;
}

.blog li:first-of-type::after {
    content: '';
    width: 1px;
    height: 15px;
    background: var(--textLight);
    display: inline-block;
    margin: 0 15px;
}

.blog h3 {
    font-size: 18px;
    line-height: 26px;
    color: var(--textDark);
    font-weight: 600;
}

.blog p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 15px;
    color: var(--textLight);
}

.arrowBtn {
    font-size: 14px;
    color: var(--mainColor);
    width: fit-content;
    display: flex;
    align-items: center;
    transition: all .4s ease-in-out;
}

.arrowBtn:hover {
    color: var(--secondaryColor);
}

.arrowBtn i {
    display: inline-block;
    transition: all .4s ease-in-out;
    font-size: 23px;
    height: 20px;
}

.arrowBtn:hover i {
    transform: translateX(32px);
    opacity: 0;
}

.blogsSlider .owl-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0 0 0;
}

.blogsSlider .owl-dot {
    width: 12px;
    height: 12px;
    background: var(--grey);
    border-radius: 5px;
    margin: 0 5px;
    transition: all .4s ease-in-out;
}

.blogsSlider .owl-dot.active {
    background: var(--mainColor);
    width: 39px;
}

.blogsSlider .owl-dot:hover {
    background: var(--mainColor);
}

.blogsPage .blog {
    margin-bottom: 30px;
}

@keyframes slide {
    0% {
        height: 0%;
    }

    100% {
        height: 100%;
    }
}

@-webkit-keyframes slide {
    0% {
        height: 0%;
    }

    100% {
        height: 100%;
    }
}

@media screen and (max-width:768px) {
    .blogImg {
        height: 190px;
    }

    .blogBody {
        padding: 10px;
    }

    .blog ul {
        padding-top: 0;
    }

    .blog h3 {
        font-size: 15px;
        margin: 0;
    }

    .blog p {
        font-size: 13px;
        margin-bottom: 5px;
    }

    .arrowBtn {
        font-size: 13px;
    }

    .blogsSlider .owl-dots {
        padding: 10px 0 0 0;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||             Video         ||========================*/
/*==========================||---------------------------||========================*/

.videoview {
    width: 100%;
    height: 480px;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    background: var(--blueLight);
}

.videoview video {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.videoOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--blueMedium);
    z-index: 1;
}

.play {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 65px;
    height: 65px;
    transform: translateX(-50%) translateY(-50%);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: var(--white);
    z-index: 3;
    cursor: pointer;
}

.play::before,
.play::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 94px;
    height: 94px;
    border-radius: inherit;
    border: 1px solid var(--white);
    z-index: 0;
}

.play::before {
    animation: pulse-border 1500ms ease-out infinite;
}

.play::after {
    transition: all 200ms;
}

.play:hover::after {
    transition: all 200ms;
    background-color: darken(rgba(255, 173, 31, 0.2), 10%);
}

.play span {
    display: block;
    position: relative;
    width: 0;
    height: 0;
    border-left: 26px solid var(--mainColor);
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    z-index: 2;
}

.play:hover span {
    border-left-color: var(--secondaryColor);
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}

@media screen and (max-width:575px) {
    .video {
        padding: 0;
    }

    .videoview {
        height: 200px;
    }
}

@media screen and (max-width:768px) {
    .play {
        width: 40px;
        height: 40px;
    }

    .play span {
        border-width: 10px 0 10px 10px;
    }

    .play::before,
    .play::after {
        width: 50px;
        height: 50px;
    }
}

@media (min-width:768px) and (max-width:992px) {
    .videoview {
        height: 330px;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||            Contact        ||========================*/
/*==========================||---------------------------||========================*/

.contact h2 {
    font-size: 36px;
    font-weight: 800;
}

.contact p {
    letter-spacing: 0.21px;
    font-size: 14px;
    line-height: 29px;
}

.contactBox {
    padding-inline-end: 50px;
}

.contactForm {
    padding: 30px 0 0;
}

.field {
    margin-bottom: 15px;
    position: relative;
}

.field label {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.21px;
    color: var(--text);
    position: absolute;
    top: 15px;
    left: 15px;
    margin: 0;
    transition: all .4s ease-in-out;
}

.field .form-control {
    border-radius: 4px;
    background: var(--greyBg);
    border: 0;
}

.field input {
    height: 45px;
}

.field textarea {
    height: 180px;
    resize: none;
}

.field .form-control:focus+label {
    top: -14px;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

.iconField {
    position: relative;
}

.iconField span {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.iconField span img {
    max-width: 20px;
}

.field.animated label {
    top: -14px;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

.contactForm .blueBtn {
    width: 100%;
    height: 45px;
    border: 0;
}

.contactMap {
    padding-inline-end: 25px;
    padding-top: 25px;
    position: relative;
}

.map,
.map iframe,
.map img {
    width: 100%;
    max-height: 520px;
    z-index: 1;
    position: relative;
}

.contactMap::after {
    content: '';
    background: var(--mainColor);
    width: 40%;
    height: 95%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
}

.contactList {
    margin: 50px 0 0 0;
    border: 1px solid #E5E5E5;
    padding: 30px 15px;
}

.contactItem {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactList .col-12:nth-child(2) {
    border: 1px solid #E5E5E5;
    border-width: 0 1px;
}

.contactItem img {
    margin-inline-end: 15px;
}

.contactItem h5 {
    font-size: 19px;
    color: var(--textDark);
    font-weight: 600;
    margin-bottom: 2px;
}

.contactItem h6 {
    font-size: 14px;
    color: var(--textLight);
    margin: 0;
    line-height: 22px;
}

.contactPage .contactList {
    margin: 0 0 50px 0;
}

@media screen and (max-width:575px) {
    .contactList {
        margin: 20px 0 0 0;
        padding: 0 15px;
    }

    .contactItem {
        justify-content: flex-start;
        padding: 10px;
    }

    .contactList .col-12:nth-child(2) {
        border-width: 1px 0;
    }
}

@media screen and (max-width:768px) {
    .contact h2 {
        font-size: 22px;
    }

    .contact p {
        font-size: 13px;
        line-height: 22px;
    }

    .contactBox {
        padding-inline-end: 0;
    }

    .contactForm {
        padding: 25px 0;
    }

    .field label {
        font-size: 13px;
    }

    .contactItem img {
        max-width: 30px;
    }

    .contactItem h5 {
        font-size: 14px;
    }

    .contactItem h6 {
        font-size: 13px;
    }

    .contactPage .contactList {
        margin: 0 0 25px 0;
    }
}

@media (min-width:768px) and (max-width:992px) {
    .contactList {
        margin: 0;
        padding: 15px 10px;
    }

    .contactList .col-12:nth-child(2) {
        border-width: 0 1px;
    }

    .contactItem {
        height: 100%;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||           Clients         ||========================*/
/*==========================||---------------------------||========================*/

.clients .item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    padding: 15px;
}

.clients .item img {
    transition: all .4s ease-in-out;
    cursor: pointer;
}

.clients .item:hover img {
    transform: translateY(-10px);
}

@media screen and (max-width:575px) {
    .clients .item {
        height: 100px;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||          NewsLetter       ||========================*/
/*==========================||---------------------------||========================*/

.newletter {
    background: var(--greyLight);
    padding: 30px 0;
}

.newsletterData {
    display: flex;
    align-items: center;
}

.newletter img {
    margin-inline-end: 15px;
}

.newletter h4 {
    font-size: 25px;
    font-weight: 700;
    margin: 0;
    color: var(--textDark);
}

.newsletterForm {
    display: flex;
    width: 100%;
    height: 50px;
    background: var(--white);
    border-radius: 5px;
}

.newsletterForm input {
    border-radius: inherit;
    border: 0;
    padding: 0 15px;
    width: calc(100% - 120px);
    font-size: 13px;
}

.newsletterForm input::placeholder {
    color: var(--textLight);
}

.newsletterForm button {
    border-radius: inherit;
    height: 100%;
    border: 0;
    width: 120px;
}

@media screen and (max-width:575px) {
    .newletter {
        padding: 15px 0;
    }

    .newsletterData {
        margin-bottom: 20px;
        height: auto;
    }
}

@media screen and (max-width:768px) {
    .newletter img {
        max-width: 45px;
    }

    .newletter h4 {
        font-size: 16px;
    }

    .newsletterForm {
        height: 40px;
    }

    .newsletterForm button {
        min-width: 80px;
        width: 90px;
    }

    .newsletterForm input {
        width: calc(100% - 90px);
    }
}

@media (min-width:768px) {
    .newsletterData {
        height: 100%;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||           Footer          ||========================*/
/*==========================||---------------------------||========================*/

.footer {
    background: url('../images/footer-bg.png') no-repeat;
    background-size: cover;
    padding: 50px 0 85px;
    color: var(--white);
    position: relative;
}

.footer .logo {
    max-width: 120px;
}

.footer p {
    color: inherit;
    font-size: 15px;
    line-height: 24px;
}

.footer h3 {
    letter-spacing: 0.3px;
    font-size: 18px;
    font-weight: 600;
}

.links a,
.footerContact li,
.footerContact a {
    letter-spacing: 0.24px;
    font-size: 16px;
    line-height: 38px;
    color: inherit;
    display: flex;
    align-items: center;
    position: relative;
    transition: all .4s ease-in-out;
}

.links a::before,
.footerContact li::before {
    content: '';
    width: 7px;
    height: 7px;
    background: var(--white);
    display: inline-block;
    border-radius: 5px;
    margin-inline-end: 10px;
}

.links a:hover,
.footerContact li:hover,
.footerContact a:hover {
    color: var(--secondaryColor);
    transform: translateX(5px);
}

.links a:hover::before,
.footerContact li:hover::before {
    background: var(--secondaryColor);
}

.social {
    padding: 20px 0 0 0;
}

.social a {
    background: var(--white);
    width: 34px;
    height: 34px;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--text);
    margin-inline-end: 5px;
    transition: all .4s ease-in-out;
}

.social a:hover {
    transform: translateY(-7px);
    background: var(--mainColor);
    color: var(--white);
}

.copyRight {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: rgba(0, 0, 0, .7);
}

.privacyBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
}

.privacyBox a {
    color: inherit;
}

.privacyBox p {
    font-size: 14px;
}

.privacyBox a:hover {
    color: var(--secondaryColor);
}

@media screen and (max-width:575px) {
    .footer {
        padding: 10px 0 80px;
    }
}

@media screen and (max-width:768px) {
    .footer p {
        font-size: 13px;
        margin-bottom: 15px;
    }

    .links a,
    .footerContact li,
    .footerContact a {
        font-size: 13px;
        line-height: 30px;
    }

    .links {
        margin-bottom: 20px;
    }

    .social a {
        width: 25px;
        height: 25px;
        font-size: 14px;
    }

    .privacyBox p {
        font-size: 12px;
        margin: 0;
    }

    .footer h3 {
        font-size: 16px;
    }
}

@media (min-width:768px) and (max-width:992px) {
    .footer {
        padding: 30px 0 50px;
    }

    .footer .logo {
        max-width: 90px;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||       Scroll Buttons      ||========================*/
/*==========================||---------------------------||========================*/

.scrollDown,
.scrollUp {
    width: 28px;
    height: 50px;
    border: 3px solid var(--white);
    border-radius: 50px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.scrollDown {
    position: absolute;
    bottom: 25px;
    left: calc(50% - 14px);
}

.scrollDown:hover,
.scrollUp:hover {
    border-color: var(--secondaryColor);
}

.scrollDown::before,
.scrollUp::before {
    content: '';
    position: absolute;
    left: calc(50% - 2px);
    content: '';
    width: 4px;
    height: 10px;
    background: var(--white);
    border-radius: 4px;
    box-sizing: border-box;
}

.scrollDown::before {
    -webkit-animation: scrollDown 2s infinite;
    animation: scrollDown 2s infinite;
}

.scrollUp::before {
    bottom: 0;
    -webkit-animation: scrollUp 2s infinite;
    animation: scrollUp 2s infinite;
}

.scrollDown:hover::before,
.scrollUp:hover::before {
    background: var(--secondaryColor);
}

@-webkit-keyframes scrollDown {
    0% {
        -webkit-transform: translate(0, 0);
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    80% {
        -webkit-transform: translate(0, 20px);
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes scrollDown {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    80% {
        transform: translate(0, 20px);
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes scrollUp {
    0% {
        -webkit-transform: translate(0, 0);
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    80% {
        -webkit-transform: translate(0, -20px);
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes scrollUp {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    80% {
        transform: translate(0, -20px);
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@media screen and (max-width:575px) {
    .scrollUp {
        position: fixed;
        bottom: 75px;
        right: 15px;
    }
}

@media screen and (max-width:768px) {

    .scrollDown,
    .scrollUp {
        height: 35px;
        width: 23px;
        border-width: 2px;
    }

    .scrollDown {
        bottom: 15px;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||          Social Share     ||========================*/
/*==========================||---------------------------||========================*/

.share {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 40px;
    margin-top: 50px;
    width: 37px;
    z-index: 3;
}

.share.sticky {
    position: fixed;
    top: 40px;
    margin-left: auto;
    z-index: 3;
}

.share a {
    width: 37px;
    height: 37px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    margin-bottom: 5px;
    font-size: 22px;
    transition: all .4s ease-in-out;
}

.whatsapp {
    background: var(--green);
}

.call {
    background: var(--mainColor);
}

.google {
    background: var(--red);
}

.chat {
    background: var(--blueDark);
}

.share a:hover {
    border-radius: 50%;
    -webkit-animation: socialFlipping .3s;
    animation: socialFlipping .3s
}

@-webkit-keyframes socialFlipping {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes socialFlipping {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@media screen and (max-width:768px) {
    .share {
        width: 25px;
        right: 15px;
        margin-top: 15px;
    }

    .share.sticky {
        top: 20px;
    }

    .share a {
        width: 25px;
        height: 25px;
        font-size: 14px;
    }

    .share a img {
        max-width: 15px;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||      Side Fixed Button    ||========================*/
/*==========================||---------------------------||========================*/

.sideList {
    background: var(--white);
    box-shadow: 0px 0px 18px #98989829;
    border-radius: 0px 20px 20px 0px;
    width: 280px;
    padding: 10px;
    position: absolute;
    margin-top: -35px;
    transition: all .4s ease-in-out;
    z-index: 3;
}

.internalPage .sideList {
    margin-top: 200px;
}

.sideList.sticky {
    position: fixed;
    top: 70px;
}

.sideList a {
    height: 40px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    color: var(--white);
    padding: 5px 15px;
}

.sideList a:first-of-type {
    background: var(--blueDark);
}

.sideList a:nth-child(3) {
    background: var(--red);
}

.sideList a:nth-child(4) {
    background: var(--mainColor);
}

.sideList a:last-of-type {
    background: var(--green);
    margin: 0;
}

.sideList a:hover {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

.sideList a img {
    margin-inline-end: 8px;
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

@media screen and (max-width:768px) {
    .sideList {
        transform: translateX(-100%);
        width: 240px;
    }

    .internalPage .sideList {
        margin-top: -10px;
    }

    .sideList.open {
        transform: translateX(0);
    }

    .sideList.sticky {
        top: 45px;
    }

    .showSide {
        position: absolute;
        right: -30px;
        background: var(--mainColor);
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--white);
        font-size: 19px;
        top: 24px;
        box-shadow: 0px 0px 18px #98989829;
        border-radius: 0 10px 10px 0;
        cursor: pointer;
    }

    .sideList a {
        font-size: 13px;
        height: 30px;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||         Pangination       ||========================*/
/*==========================||---------------------------||========================*/

.pagination {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.pagination a {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 3px;
    color: var(--text);
    font-size: 17px;
    cursor: pointer;
}

.pagination a:first-of-type,
.pagination a:last-of-type {
    background: var(--greyLight);
    border-radius: 5px;
}

.pagination a:hover,
.pagination a:active {
    color: var(--mainColor);
}

.pagination a:first-of-type:hover,
.pagination a:last-of-type:hover {
    background: var(--mainColor);
    color: var(--white);
}

@media screen and (max-width:575px) {
    .pagination a {
        width: 30px;
        height: 30px;
        font-size: 14px;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||           Blog Page       ||========================*/
/*==========================||---------------------------||========================*/

.blogDetails {
    box-shadow: 0px 3px 53px #ACACAC29;
    padding: 12px;
}

.blogDetails>img {
    min-height: 200px;
}

.blogInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 20px;
}

.blogPage {
    box-shadow: none;
}

.blogInfo ul,
.blogInfo .social {
    padding: 0;
}

.blogInfo label {
    font-size: 14px;
    color: var(--text);
}

.blogInfo .social a {
    background: var(--greyLight);
}

.blogPage h3 {
    font-size: 28px;
    margin-bottom: 15px;
}

.blogPage p {
    line-height: 30px;
    font-size: 15px;
}

@media screen and (max-width:575px) {}

@media screen and (max-width:768px) {
    .blogInfo {
        flex-direction: column;
        align-items: end;
    }

    .blogInfo ul {
        margin-bottom: 15px;
    }

    .blogPage h3 {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .blogPage .blogBody {
        padding: 10px 0;
    }

    .blogPage p {
        font-size: 13px;
        line-height: 23px;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||           Page Form       ||========================*/
/*==========================||---------------------------||========================*/

.pageForm {
    border: 1px solid #D8D8D8;
    border-radius: 13px;
    padding: 5%;
    padding-inline-end: 10%;
}

.pageForm h2 {
    font-size: 36px;
    font-weight: 900;
    max-width: 500px;
}

.pageForm p {
    font-size: 14px;
    max-width: 500px;
    line-height: 25px;
}

.uploadBox {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.uploadFile {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    cursor: pointer;
}

.uploadFile span {
    font-size: 14px;
    color: var(--textLight);
    display: block;
    margin-top: 5px;
}

.uploadFile label {
    margin: 0;
    cursor: pointer;
}

.uploadFile:hover span {
    color: var(--secondaryColor);
}

.fileNames {
    width: 100%;
    max-width: 400px;
}

.file {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #f2f2f2;
    padding: 5px 0;
}

.file h3 {
    font-size: 15px;
    color: var(--text);
}

.file:last-of-type {
    border: 0;
    margin-bottom: 20px;
}

.file span {
    color: var(--text);
    cursor: pointer;
}

.file span:hover {
    color: var(--red);
}

@media screen and (max-width:575px) {

    .mapModal .map,
    .mapModal .map iframe {
        height: 300px;
    }

    .pageForm {
        padding: 10px;
    }

    .pageForm h2 {
        font-size: 20px;
    }

    .pageForm p {
        font-size: 13px;
        line-height: 20px;
    }

    .pageForm .contactForm {
        padding-bottom: 0;
    }
}

@media (min-width:768px) {
    .modal-dialog {
        max-width: 700px;
    }

    .mapModal .map,
    .mapModal .map iframe {
        height: 400px;
    }
}

@media (min-width:1024px) {
    .modal-dialog {
        max-width: 950px;
    }

    .mapModal .map,
    .mapModal .map iframe {
        height: 500px;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||          Services         ||========================*/
/*==========================||---------------------------||========================*/

.serviceBox {
    border: 1px solid #E6E6E6;
    border-radius: 10px;
    padding: 0 20px;
    margin-bottom: 70px;
}

.serviceBox img {
    max-width: 95px;
    margin-top: -45px;
    margin-bottom: 15px;
}

.serviceBox p {
    font-size: 14px;
    line-height: 27px;
    margin-bottom: 20px;
}

.serviceBox:hover {
    border-color: var(--secondaryColor);
}

.serviceBox:hover img {
    -webkit-animation: mover .5s infinite alternate;
    animation: mover .5s infinite alternate;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

@media screen and (max-width:768px) {
    .servicesPage {
        padding: 70px 0;
    }

    .serviceBox {
        padding: 0 10px;
        margin-bottom: 50px;
    }

    .serviceBox img {
        max-width: 70px;
        margin-top: -35px;
        margin-bottom: 6px;
    }

    .serviceBox p {
        margin-bottom: 10px;
        line-height: 22px;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||        About Page         ||========================*/
/*==========================||---------------------------||========================*/

.aboutPage {
    padding-top: 60px;
}

.aboutPageDetails {
    position: relative;
}

.aboutPageDetails>img {
    margin-bottom: 40px;
    border-radius: 22px;
}

.aboutPageDetails p,
.aboutPageDetails .list li {
    line-height: 30px;
}

.aboutPageBlocks {
    padding: 40px 0 0 0;
}

.aboutPageBlock {
    display: flex;
}

.aboutPageBlock .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    background: var(--orangeOpacity);
    padding: 10px;
    border-radius: 5px;
}

.aboutPageBlock .data {
    margin-inline-start: 15px;
    width: calc( 100% - 70px);
}

.aboutPageBlock h5 {
    font-size: 20px;
    font-weight: 900;
}

.aboutPageBlock p {
    font-size: 12px;
    line-height: 25px;
}

/* @media screen and (max-width:768px) { 
    .aboutPageDetails>img {
        min-height: 200px;
        margin-bottom: 20px;
    }
} */

@media screen and (max-width:768px) {
    .aboutPageDetails>img {
        min-height: 200px;
        margin-bottom: 20px;
    }
    
    .aboutPageDetails p, .aboutPageDetails .list li {
        line-height: 24px;
    }
    
    .aboutPageBlocks {
        padding: 20px 0 0 0;
    }
    
    .aboutPageBlock {
        margin-bottom: 20px;
    }
    
    .aboutPageBlock .icon {
        width: 40px;
        height: 40px;
    }
    
    .aboutPageBlock .icon img {
        max-width: 20px;
    }
    
    .aboutPageBlock .data {
        margin-inline-start: 10px;
        width: calc( 100% - 50px);
    }
    
    .aboutPageBlock h5 {
        font-size: 17px;
        margin: 0;
    }
    
    .aboutPageBlock p {
        line-height: 22px;
        margin: 0;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||            AR             ||========================*/
/*==========================||---------------------------||========================*/

.ar {
    text-align: right;
    direction: rtl;
}

.ar .navMenu a::before {
    left: auto;
    right: -12px;
}

.ar .headerSlider .owl-dots {
    right: auto;
    left: 6%;
}

.ar .sideVector {
    right: auto;
    left: 0;
}

.ar .aboutVectors::after {
    right: auto;
    left: 0;
}

.ar .share {
    right: auto;
    left: 40px;
}

.ar .sideList {
    border-radius: 20px 0 0 20px;
}

.ar .services .owl-nav {
    flex-direction: row-reverse;
}

.ar .arrowBtn i::before {
    content: '\ea93';
}

.ar .field label {
    right: 15px;
    left: auto;
}

.ar .contactMap::after {
    left: 0;
    right: auto;
}

.ar .arrowBtn:hover i {
    transform: translateX(-32px);
}

.ar .pagination .icofont-long-arrow-left::before {
    content: "\ea94";
}

.ar .pagination .icofont-long-arrow-right::before {
    content: "\ea93";
}

.ar .iconField span {
    right: auto;
    left: 0;
}

@media screen and (max-width:575px) {
    .ar .menuBtn {
        right: auto;
        left: 15px;
    }

    .ar .scrollUp {
        position: fixed;
        right: auto;
        left: 15px;
    }
}

@media screen and (max-width:768px) {
    .ar .navMenu {
        transform: translateX(-100%);
        right: auto;
        left: 0;
    }

    .ar .navMenu.show {
        transform: translateX(0);
    }

    .ar .sideList {
        transform: translateX(100%);
    }

    .ar .showSide {
        left: -30px;
        right: auto;
        border-radius: 10px 0 0 10px;
    }

    .ar .sideList.open {
        transform: translateX(0);
    }

    .ar .showSide i::before {
        content: '\eac9';
    }

    .ar .share {
        right: auto;
        left: 15px;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||            Loader        ||========================*/
/*==========================||---------------------------||========================*/

.loader {
    background: var(--greyLight);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
}

.loader span {
    display: inline-block;
    width: 7.5px;
    height: 7.5px;
    margin: 0 2px;
    background: #2FAC9B;
    border-radius: 0px;
}

.loaderBox span:nth-child(1) {
    -webkit-animation: temp 1s 0.05s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
    animation: temp 1s 0.05s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59); 
}

.loaderBox span:nth-child(2) {
    -webkit-animation: temp 1s 0.1s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
    animation: temp 1s 0.1s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
}

.loaderBox span:nth-child(3) {
    -webkit-animation: temp 1s 0.15s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
    animation: temp 1s 0.15s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
}

.loaderBox span:nth-child(4) {
    -webkit-animation: temp 1s 0.2s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
    animation: temp 1s 0.2s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
}

.loaderBox span:nth-child(5) {
    -webkit-animation: temp 1s 0.25s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
    animation: temp 1s 0.25s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
}

.loaderBox span:nth-child(6) {
    -webkit-animation: temp 1s 0.3s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
    animation: temp 1s 0.3s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
}

.loaderBox span:nth-child(7) {
    -webkit-animation: temp 1s 0.35s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
    animation: temp 1s 0.35s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
}

.loaderBox span:nth-child(8) {
    -webkit-animation: temp 1s 0.4s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
    animation: temp 1s 0.4s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
}

.loaderBox span:nth-child(9) {
    -webkit-animation: temp 1s 0.45s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
    animation: temp 1s 0.45s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
}

.loaderBox span:nth-child(10) {
    -webkit-animation: temp 1s 0.5s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
    animation: temp 1s 0.5s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
}

.loaderBox span:nth-child(11) {
    -webkit-animation: temp 1s 0.55s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
    animation: temp 1s 0.55s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
}

.loaderBox span:nth-child(12) {
    -webkit-animation: temp 1s 0.6s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
    animation: temp 1s 0.6s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
}

.loaderBox span:nth-child(13) {
    -webkit-animation: temp 1s 0.65s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
    animation: temp 1s 0.65s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
}

.loaderBox span:nth-child(14) {
    -webkit-animation: temp 1s 0.7s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
    animation: temp 1s 0.7s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
}

.loaderBox span:nth-child(15) {
    -webkit-animation: temp 1s 0.75s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
    animation: temp 1s 0.75s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
}

.loaderBox span:nth-child(16) {
    -webkit-animation: temp 1s 0.8s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
    animation: temp 1s 0.8s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
}

.loaderBox span:nth-child(17) {
    -webkit-animation: temp 1s 0.85s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
    animation: temp 1s 0.85s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
}

.loaderBox span:nth-child(18) {
    -webkit-animation: temp 1s 0.9s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
    animation: temp 1s 0.9s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
}

.loaderBox span:nth-child(19) {
    -webkit-animation: temp 1s 0.95s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
    animation: temp 1s 0.95s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
}

.loaderBox span:nth-child(20) {
    -webkit-animation: temp 1s 1s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
    animation: temp 1s 1s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
}

@-webkit-keyframes temp {
    50% {
        -webkit-transform: scale(1, 5);
        transform: scale(1, 5);
        background: var(--blueDark);
    }
}

@keyframes temp {
    50% {
        -webkit-transform: scale(1, 5);
        transform: scale(1, 5);
        background: var(--mainColor);
    }
}

@media screen and (max-width:768px) {
    .loader span {
        width: 3.5px;
        height: 5.5px;
    }
}